@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "martel sens", sans-serif;
}

body {
    background-color: rgb(16, 16, 16);
}

.main {
    background-image: url("assets/image/bg.jpj.jpg");
    height: 80vh;
    background-size: max (5000px,1000vw);
    /* background-repeat: no-repeat; */
    width: 100%;
    /* width: 100%; */
    /* background-color: aqua; */
    /* background-size: max(1200px, 100vw); */
    position: relative;
    background-position: center center;
    box-shadow: 0px 0px 44px rgb(45, 12, 208);
    


}

.main .box {
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.65;
    top: 0;
    position: absolute;
}

nav {
    max-width: 59vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 55px;
    align-items: center;

}

nav img {
    width: 125px;
    position: relative;
    z-index: 1;

}

nav button {
    position: relative;
    z-index: 1;

}

.text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92.55%;
    flex-direction: column;
    position: relative;
    font-family: "martel sens", sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.text> :nth-child(1) {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}

.text> :nth-child(2) {
    font-weight: 600;
    font-size: 17px;
    text-align: center;

}

.text> :nth-child(3) {
    font-weight: 10;
    font-size: 14px;
    text-align: center;

}

.rushi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
}

.button {
    background-color: rgba(23, 23, 23, 0.039);
    width: 100px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    height: 25px;
    padding: 0px 5px;
    font-size: 10px;
    cursor: pointer;
    font-style: bold;

}

.translate {
    padding-right: 10px;
    padding-left: 0px;
}

.translate1 {
    margin-top: 5px;
}

.button1 {
    background-color: rgb(225, 60, 5);
    color: white;
    height: 45px;
    width: 155px;
    font-weight: bold;
    font-style: bold;
    font-size: 17px;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;


}

.button0 {
    background-color: rgb(225, 60, 5);
    color: white;
    font-weight: bold;
    height: 27px;
    width: 70px;
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 10px;
    cursor: pointer;
    font-style: bold;

}

.rushi {
    display: flex;
    flex-direction: row;
}

.input {
    border: 1px solid rgb(249, 249, 249);
    background-color: rgba(23, 23, 23, 0.2);

    height: 40px;
    border-radius: 4px;
    width: 280px;
    color: white;
    /* border: 1px solid black;
     height: 45px;
    width: 15px;
     border-radius: 4px; */
}

.borderline {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: rgb(225, 8, 8);
    z-index: 1;



}

.Tranding {
    height: 35px;
    width: 66vw;
    color: #f4f2f2;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 60vw;


}

h3 {
    margin-top: 30px;
    display: block;
    margin-bottom: 0px;
}

.first {
    padding: 10px 5px;
    height: 32vh;
    width: 850px;
    margin: auto;
    display: flex;
   

}

.center {
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 244);


}
.item{
    display: flex;
}

.items {

    display: grid;
    gap: 20px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.itemlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

}

.photo {
    gap: 0px 0px;
    height: 220px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 1s;


}

.itemlist:hover img {
    scale: 1.2;

}
@media only screen and (max-width: 1300px) {
    nav{
        max-width: 300vw;
    }
    .main{
        min-width: 200vw;
    }
    .borderline{
        min-width: 200vw;
    }

    }

.icon {

    color: white;
}

.icon img {
    color: white;
    height: 55px;
    width: 55px;

}

.Morereasonstojoin {
    color: white;
    margin-top: 0;
}

.second {
    margin-left: 0px;
    height: 40vh;
    width: 60vw;
    margin: auto;
    margin-top: 0px;
    position: relative;

}

.items2 {
    border-radius: 10px;
    gap: 25px;
    width: 13.5vw;
    display: flex;

}

.item2 {
    color: #fbf9f9;
    height: 200px;
    border-radius: 7px;
    padding: 20px;
    font-style: bold;
    background-color: rgba(0, 0, 255, 0.079);
    box-shadow: -10px -5px 45px inset rgba(255, 0, 0, 0.198);
}

div .computer {
    margin-top: 50px;
    height: 23px;
    margin-left: 120px;

}

div .computer1 {
    margin-top: 30px;
    height: 23px;
    margin-left: 120px;

}

div .computer2 {
    margin-top: 60px;
    height: 23px;
    margin-left: 120px;
    color: white;

}

div .computer3 {
    margin-top: 15px;
    height: 23px;
    margin-left: 120px;

}




.item2 p {
    color: #f4f2f2c5;
    padding: 20px 1px;
    font-size: 12px;

}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 10px;
    margin: 10px 0;


}

.therd {
    height: 100vh;
    width: 59vw;
    /* background-color: white; */
    color: white;
    margin: auto;

}

.FrequentlyAskedQuestions {
    margin-top: 70px;
    color: #f4f2f2;

}

.side {
    height: 8vh;
    width: 59vw;
    background-color: #6c5e5e62;
    color: rgb(248, 246, 246);
    padding-top: 30px;
    display: grid;
    padding-left: 25px;
    gap: 10px;
    cursor: pointer;
}

.quction {
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.fourth {
    height: 40vh;
    width: 59vw;
    /* background-color: white; */
    color: white;
    margin: auto;
}

.down {
    margin: 25px 0;
    color: rgba(255, 255, 255, 0.66);
    font-family: Arial, Helvetica, sans-serif;
}

.multbutton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
    gap: 12px;
    width: 1000px;


}

.ram {
    background-color: black;
    color: rgba(255, 255, 255, 0.655);
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: start;
    border: 2px solid black;
    cursor: pointer;
    text-decoration: underline;
}

#last {
    margin-top: 55px;
    height: 25vh;

}

    /* body {
        background-color: pink;

    } */


    /* .first{   
                flex-direction: column;
                background-color: rgb(213, 174, 174);
            } */
